pkgbase = resolver-git
	pkgdesc = Returns addresses for hostnames.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.r0.gdabd91cd3800925a7307029bd8eebf3535ed436b
	pkgrel = 1
	url = https://github.com/themartiancompany/resolver
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = tor-resolver
	depends = hotspot-resolver
	depends = libcrash-bash
	provides = resolver=0.0.0.0.0.0.0.0.0.0.0.0.0.1.r0.gdabd91cd3800925a7307029bd8eebf3535ed436b
	conflicts = resolver
	source = resolver.tar.gz::https://github.com/themartiancompany/resolver/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = resolver-git
